.f-page.exam{
  overflow: hidden;

  .main-exam{
    width: 900px;
    margin: 0px auto;
    margin-top: 80px;

    .ant-menu{
      float: left;
    }

    .nk-content{
      margin-left: 200px;
    }
  }
}

